#rails specific
*.sqlite3
config/database.yml
log/*
tmp/*
public/html/*
config/initializers/cookie_verification_secret.rb
config/initializers/session_store.rb
config/initializers/basic_auth.rb

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

public/support/arrow_left_play.png

public/support/arrow_right_play.png
