.hidden {
	visibility: hidden;
}

.marktext {
	line-height: 210%;
}

.marktext span {
	
}

table {
	border-spacing:	15px 5px;
}

.multiple_choice, .single_choice {
	width: 35%;
}

#footer {
	text-align: center;
}

#back_btn {
	float: left;
}

#next_btn {
	float: right;
}

input[type="text"] {
	font-size:12pt;
	text-align:center;
	margin-left:-10px;
	
}

.gapquestion{
	word-spacing:13px;
	margin-left:10px;
}
