<div class="fields">
	<p>
		<strong>Cloze</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>Gaps are indicated with a "#". Coherent words after the hash are the 
		 the expected values.</p>
	<%= render 'cloze_fields', :f => f %>
</div>