<div class="fields">
	<p>
		<strong>Cloze</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>The concealing words have to be  enclosed in(: :).  Insert linebreaks with &lt;br/&gt;.</p>
	<%= render 'cloze_fields', :f => f %>
</div>