<div class="fields">
	<p>
		<strong>Marktext</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>Wrap the words which should be marked afterwards in (: :). Insert linebreaks with &lt;br/&gt;.</p>
	<%= render 'marktext_fields', :f => f %>
</div>