<div class="fields">
	<p>
		<strong>Marktext</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>Wrap the words which should be marked afterwards in (: :). Insert linebreaks with &lt;br/&gt;.</p>
    <div class="fields">
      <p>
        Sub-question:
        <%= f.text_field :sub_question %>
      </p>
    	<p>
    		<%= f.text_area :mark %>
    	</p>
    </div>
    
    <% if f.object.new_record? %>
      <%= f.hidden_field :position, :class => "position_field" %>
    <% end %>
</div>