<div class="fields">
	<p>
		<strong>Marktext</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>Put a "#" in front of those words which should be marked afterwards</p>
	<%= render 'marktext_fields', :f => f %>
</div>